<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% Product.all.each do |x| %>
  <%= x.name %>
  <%= x.description %>
  <%= x.formatted_price %>
  <%= link_to "edit", "/products/#{x.id}"%>
<% end %>
